.flow_steps{
	position:fixed;
	left:0px;
}
.flow_steps ul li {
	align: center;
	list-style-type: none;
	float: left;
	height: 23px;
	padding: 0 20px 0 10px;
	line-height: 23px;
	text-align: center;
	background: url(../images/barbg.png) no-repeat 100% 0 #E4E4E4;
	font-weight: bold;
	font-size:10px;
}

.flow_steps ul li.done {
	background-position: 100% -46px;
	background-color: #27AE60;
}

.flow_steps ul li.current_prev {
	background-position: 100% -23px;
	background-color: #27AE60;
}

.flow_steps ul li.current {
	color: #fff;
	background-color: #990D1B;
}

.flow_steps ul li.last {
	background-image: none;
}